<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>      
    </ion-toolbar>
  </ion-header>


  <ion-content padding>
        <ion-card>
                <ion-card-header>
                    <ion-card-title>Welcome to Lion Sighting.</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    
                    <p>This App is created to create an lion tracking system for a research paper.</p>
                    <br/>
                    <p>Please register if you are part of the research team.</p>
                </ion-card-content>
            </ion-card>
      </ion-content>