<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Manage users
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="users?.length > 0">
        <ion-card *ngFor="let user of users">

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-icon size="large" alt="contact" name="contact"></ion-icon>
                        </ion-col>
                        <ion-col>
                            {{user.firstname}} {{user.surname}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text color="{{user.allowed === true ? 'secondary' : user.denied === true ? 'danger' : 'primary'}}">
                                {{user.allowed === true ? 'Allowed' : user.denied === true ? 'Denied' : 'New user'}}
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button color="secondary" aria-label="Allow" type="button" *ngIf="!user.allowed" slot="start" (click)="allowUser(user)">Allow</ion-button>
                <ion-button aria-label="Deny" type="button" *ngIf="!user.denied" slot="end" color="danger" (click)="denyUser(user)">Deny</ion-button>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <div *ngIf="users?.length === 0">
        <ion-item>
            <p>No users have registered yet.</p>
        </ion-item>
    </div>
</ion-content>