<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Export sightings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
            <ion-img src="/assets/excel.png"></ion-img>
            <ion-card-header>
                    <ion-card-title>Export to excel</ion-card-title>
                  </ion-card-header>
            <ion-card-content>
                <p>Hi {{name}}</p>
                <p>All sightings will be exported to an Excel spreadsheet, where each sighting is a different sheet.</p>
                <p>The spreadsheet will be sent to:</p>
                <p><b>{{email}}</b></p>
                <br />
                <ion-button slot="start" (click)="exportAll()">Export all sightings</ion-button>                
            </ion-card-content>
        </ion-card>
    <div *ngIf="!sightings?.length > 0">
        <ion-item>
            <p>No sightings captured yet.</p>
        </ion-item>
    </div>
</ion-content>