<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Add lion ID
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]='lionIdForm' (ngSubmit)="addId()" novalidate>
        <ion-item>
            <ion-label position="stacked">ID</ion-label>
            <ion-input formControlName="id" type="text" placeholder="Lion id">
            </ion-input>
        </ion-item>       
        <ion-button aria-label="Add ID" type="submit">
            Add ID
        </ion-button>
    </form>
</ion-content>