<ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>   
          <ion-title>
                Welcome
              </ion-title>   
        </ion-toolbar>
      </ion-header>
    
      <ion-content padding>
            <ion-card>
                    <ion-card-header>
                        <ion-card-title>Hi {{user.firstname}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        
                        <p>You can add a new sighting or view your captured sightings.</p>
                    </ion-card-content>
                </ion-card>
                <ion-button>
                    Capture new sighting
                </ion-button>
                <ion-button>
                    View my sightings
                </ion-button>
          </ion-content>