<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Welcome
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Hi {{user.firstname}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="user.allowed === true">

            <p>You can add a new sighting or view your captured sightings.</p>
        </ion-card-content>
        <ion-card-content *ngIf="user.allowed === false && user.denied === false">
            <ion-text color="dark">
                <p>The research conductor has not granted your account access yet.</p>
            </ion-text>
            <ion-text color="danger">
                <p>If you are not part of the research study, you will not get access to the APP.</p>
            </ion-text>
        </ion-card-content>
        <ion-card-content *ngIf="user.allowed === false && user.denied === true">
            <ion-text color="danger">
                <p>Sorry, you have been rejected access to the application.</p>
                <p>Please talk to the research conductor if this is an mistake.</p>
            </ion-text>
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button color="secondary" aria-label="Capture new sighting" type="button" *ngIf="user.allowed === true"
                    (click)="captureSighting()">
                    Capture sighting
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button color="secondary" type="button" aria-label="View my sightings" *ngIf="user.allowed === true"
                    (click)="viewMySightings()">
                    View my sightings
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>