<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Welcome
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button expand="block" type="button" (click)="test1Online()">
        Test 1 - Online
    </ion-button>

    <ion-button expand="block" type="button" (click)="test1Offline()">
        Test 1 - Offline
    </ion-button>

    <ion-button expand="block" type="button" (click)="test2()">
        Test 2
    </ion-button>

    <ion-button expand="block" type="button" (click)="test3()">
        Test 3
    </ion-button>

    <ion-button expand="block" type="button" (click)="test4()">
        Test 4
    </ion-button>

    <ion-button expand="block" type="button" (click)="test5()">
        Test 5
    </ion-button>

    <ion-grid>
        <ion-row>
            <ion-col col-3 col-md-3 col-xl-3 *ngFor="let photo of imgDisplay">
                <ion-thumbnail>
                    <img [src]="domSanitizer.bypassSecurityTrustUrl(photo)" alt="Sighting photos"/>
                </ion-thumbnail>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>